.md-logo{
    background: #ffffff;
}

.md-logo img{
  height: 25px;
  width: 100px;
}

/* Buttons */
.button:link, .button:visited {
  background-color: #7e57c2;
  box-shadow: 0 5px 0 #593696;
  color: white !important;
  padding: 14px 14px;
  position: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover, .button:active {
  background-color: #593696;
  cursor: pointer;
}

/* Logo img size */
.md-header-nav__button.md-logo img,.md-header-nav__button.md-logo svg{
  width:4.2rem;
}